build
.gradle

# Log file
*.log

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/gradle-wrapper.jar
### Java template
# Compiled class file
*.class

# Idea
.idea/
*.iml

#OSX
.DS_Store